#pro{
    font-size:50 px;
 text-align: center;
 background-color: pink;
 font-style: italic;
 font-family:Arial, Helvetica, sans-serif;
 text-shadow: 1px 2px 4px purple;   
}
#m{
    font-size: 70px;
    line-height: 80px;
}
#mov{
    font-size :50px;
    text-align: left;
    animation: pulse 10s infinite;
}
@keyframes pulse {
    0% {
      background-image:url("images.png");
      color:black;
      text-align: left;
    }
    30% {
        background-image: url("download.jfif");
    color:white;
    text-align: center;
    }
    40% {
      background-image:url("images.jfif");
color:yellow;    
text-align: right;
    }
    100%{
        background-image: url("hp.png");
        color:black;
        text-align: left;
    }
  }
  ul{
      text-align: center;
      font-family: sans-serif;
      font-size:50px;
      background-color:pink;
      font-style: italic;
  }
  </div>
</nav>
  body{
      background-image: url("bg.jfif");
  }
  #gumnaami{
      margin:4px;
      background-color: white;
      font-family: cursive;
      font-size: 40px;
  }
  #img{
      padding:5px;
      float:right;
  }
  #img1{
      padding:5px;
      float:left;
  }
  
  
  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  .container .btn {
    position: absolute;
    top: 100%;
    left: 100%;
    color: black;
    font-size: 16px;
    padding: 13px 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container .btn:hover {
    background-color: white;
    color: black;
  }  
  #chhapaak{
    background-color: white;
    font-family: cursive;
    font-size: 40px;
    padding:5px;
}
#borun{
    padding:5px;
  background-color: white;
  font-family: cursive;
  font-size: 40px;
}
#tanhaji{
    padding:5px;
  background-color: white;
  font-family: cursive;
  font-size: 40px;
}
#pupil{
    padding:5px;
  background-color: white;
  font-family: cursive;
  font-size: 40px;
}
#harry{
    padding:5px;
  background-color: white;
  font-family: cursive;
  font-size: 40px;
}
footer{
  background-color: wheat;
  text-align: center;
  
}
