html {
  scroll-behavior: smooth;
}

#pro {
  font-size: 50 px;
  text-align: center;
  background-color: pink;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 2px 4px purple;
}
#m {
  font-size: 70px;
  line-height: 80px;
}
#mov {
  font-size: 50px;
  text-align: left;
  animation: pulse 10s infinite;
}
@keyframes pulse {
  0% {
    background-image: url("images.png");
    color: black;
    text-align: left;
  }
  30% {
    background-image: url("download.jfif");
    color: white;
    text-align: center;
  }
  40% {
    background-image: url("images.jfif");
    color: yellow;
    text-align: right;
  }
  100% {
    background-image: url("hp.png");
    color: black;
    text-align: left;
  }
}
ul {
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
  background-color: pink;
  font-style: italic;
  color: black;
}

.body_img {
  background-image: url("bg.jfif");
}

#img {
  float: right;
}
#img1 {
  float: left;
}

.container {
  margin: 10px;

  position: relative;
  width: 100%;
  max-width: 400px;
}
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(185, 182, 182);
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.container .btn:hover {
  background-color: #f1f1f1;
  color: black;
}
.p{
  background-color: white;
  font-family: cursive;
  font-size: 40px;
} 
/* #gumnaami {
  background-color: blue;
  font-family: cursive;
  font-size: 40px;
} 
 #chhapaak {
  background-color: white;
  font-family: cursive;
  font-size: 40px;
}
#borun {
  background-color: white;
  font-family: cursive;
  font-size: 40px;
}
#tanhaji {
  background-color: white;
  font-family: cursive;
  font-size: 40px;
}
#pupil {
  background-color: white;
  font-family: cursive;
  font-size: 40px;
}
#harry {
  background-color: white;
  font-family: cursive;
  font-size: 40px;
}
#shawshank {
  background-color: white;
  font-family: cursive;
  font-size: 40px;
}
#threeidiots{
  background-color:white;
  font-family: cursive;
  font-size: 40px;
} */

.para {
  background-color:white;
  font-family: cursive;
  font-size: 40px;
}
footer {
  background-color: wheat;
  text-align: center;
  color: black;
}
.mode{
  margin-top: 100px;
}

body {
  padding: 10% 3% 10% 3%;
  text-align: center;
}


.mode {
  float: left;
}

.change {
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 40%;
  width: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 8px;
}

.dark {
  background-color: #222;
  color: #e6e6e6;
}

.light {
  background-color:rgb(214, 208, 208);
}

.body_img {
  background-image: url("bg.jfif");
}